{% extends "master.html" %}
{% block title %} Halaman Utama {% endblock %}
{% block content %}
    <h2 class="text-center mb-4">Perbandingan Kinerja Algoritma Naive Bayes dan Decision Tree</h2>
    <div id="content-area" class="text-center">
        <p>Pada penelitian ini membandingkan kinerja Algoritma Naive Bayes (Gausian)dan Decision Tree (Gini Impurity) pada status mahasiswa dengan target kelas: DROP OUT atau LULUS</p>
        <p>Dari dataset yang ada terdapat 8 atribut yang digunakan dalam klasifikasi status mahasiswa atribut tersebut adalah Jenis kelamin, umur, kelas, IPS semester 1, IPS semester 2, IPS semester 3, IPS semester 4 dan IPS semester 1. Dan terdapat 2 kelas target yaitu Drop Out dan Lulus</p>
    </div>
{% endblock %}